<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-sm-9" style="text-align: center;">
      <div class="grid" id="node-{{col}}" *ngFor="let col of cols">
        <div class="node" id="node-{{row}}" *ngFor="let row of rows"></div>
      </div>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-large">Reset</button>
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Algo</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem *ngFor="let item of algos">{{item}}</button>
        </div>
      </div>

      <button class="btn btn-large btn-primary">Visualize</button>
    </div>
  </div>

</div> -->


COMING SOON :)
